@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
title,h1,h2{
    font-family: "Lora";
}
body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    /*border: 1px solid #555;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
    background-color: #f1f1f1;
}

li a {
    display: block;
    padding: 8px 16px;
}

/* Change the link color on hover */
li a:hover {
    color: #00ddff;
}

li a:active {
    color: #DEB887;
}

.post-date {
    border-bottom: 00.5px solid #d0d0d0;
    text-align: right;
    padding-bottom: 15px;
}

nav {
    margin-bottom: 15px;
    border-bottom: 0.5px solid #d0d0d0;
    border-top: 0.5px solid #d0d0d0;
}

a {
    color: #666;
    text-decoration: none;
}
div{
    padding-top: 15px;
}
h2{
    margin-top: 0%;
    padding-top: 15px;
}
h1 a {
    text-decoration: none;
    color: #333;
}
@media screen and (min-width: 600px){
    main{
        display: flex;
        flex-direction: column;
    }
    article{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
   .post-date{
       border-right: 00.5px solid #d0d0d0;
       grid-column: 1;
       border-bottom: 0px;  
   } 
   .post-content{
       border-bottom: 00.5px solid #d0d0d0;
       grid-column: 2/4;     
       
   }
}