.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:green;
}
.choosing{
    display: flex;
    justify-content: center;
    color:green;
}
img{
    width: 96px;
}
body{
    background-image: url(Pokeball\ background.jpg);
    text-align: center;
}
.option,.search{
    display: flex;
    justify-content: center;
}
h1{
    color: blue;
    text-align: center;
}
.button{
    background-color: green;
    border-radius: 8px;
    padding: 30px;
}
#trainer_name,#trainer{
    height: 20px;
    margin-top: 25px;
}
.pokemon{
    display: flex;
    justify-content: center;
}
.pokemon_info{
    color: green;
}
#save{
    justify-self: center;
}